body {
  font-family: serif;
  margin: auto;
  max-width: 242mm;
  line-height: 1.5;
  font-size: 14pt;
}

h1, h2 {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 26pt;
}

h2 {
  font-size: 20pt;
  margin: 1cm 0 0;
  padding: 0;
}

abbr {
  text-decoration-style: dotted;
  text-decoration-line: underline;
  text-decoration-color: #0000ee;
  cursor: help;
}

span#chathamhouse {
  font-style: italic;
}
